.body {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:900px;
}
header {
	margin-bottom: 2em;
	text-align: center;
}
header h1 {
	font-size: 28px;
}
footer {
	margin-top: 4em;
	font-size: 11px;
	text-align: center;
}
.demo-table {
	border: none;
}
.demo-table th, 
.demo-table td {
	padding: 5px 10px;
	vertical-align: top;
}
.demo-table th {
	text-align: center;
	padding: 20px 0;
}
.demo-table td.arrow-cell {
	vertical-align: middle;
}
.input-group {
	width: 100%;
}
.form-control {
	font-size: 14px;
	height: 48px;
}
input[readonly] {
	color: #555;
}
.pt1-form-group input, 
.ct-form-group input {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.pt1-form-group button, 
.ct-form-group button
{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top: none;
}
.arrow-container {
	text-align: center;
	padding: 0;
}
.demo-table .alert-info {
	text-align: center;
}
.caption {
	position: absolute;
	right: 0;
	width: 400px;
}
#caption-step1 {}
#caption-step2 {
	margin-top: 2em;
}
#caption-step3 {
	margin-top: 2em;
}

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border {
	position:relative;
	padding:15px;
	margin:0 0 1em;
	border:5px solid #5cb85c;
	color:#333;
	background:#fff;
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-border.left {
	margin-left:30px;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-border.right {
	margin-right:30px;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border:before {
	content:"";
	position:absolute;
	bottom:-20px; /* value = - border-top-width - border-bottom-width */
	left:40px; /* controls horizontal position */
    border-width:20px 20px 0;
	border-style:solid;
    border-color:#5cb85c transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* creates the smaller  triangle */
.triangle-border:after {
	content:"";
	position:absolute;
	bottom:-13px; /* value = - border-top-width - border-bottom-width */
	left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
	border-width:13px 13px 0;
	border-style:solid;
	border-color:#fff transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* Variant : top
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.top:before {
	top:-20px; /* value = - border-top-width - border-bottom-width */
	bottom:auto;
	left:auto;
	right:40px; /* controls horizontal position */
    border-width:0 20px 20px;
}

/* creates the smaller  triangle */
.triangle-border.top:after {
	top:-13px; /* value = - border-top-width - border-bottom-width */
	bottom:auto;
	left:auto;
	right:47px; /* value = (:before right) + (:before border-right) - (:after border-right) */
    border-width:0 13px 13px;
}

/* Variant : left
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.left:before {
	top:10px; /* controls vertical position */
	bottom:auto;
	left:-30px; /* value = - border-left-width - border-right-width */
	border-width:15px 30px 15px 0;
	border-color:transparent #5cb85c;
}

/* creates the smaller  triangle */
.triangle-border.left:after {
	top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
	bottom:auto;
	left:-21px; /* value = - border-left-width - border-right-width */
	border-width:9px 21px 9px 0;
	border-color:transparent #fff;
}

/* Variant : right
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.right:before {
	top:10px; /* controls vertical position */
	bottom:auto;
    left:auto;
	right:-30px; /* value = - border-left-width - border-right-width */
	border-width:15px 0 15px 30px;
	border-color:transparent #5cb85c;
}

/* creates the smaller  triangle */
.triangle-border.right:after {
	top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
	bottom:auto;
    left:auto;
	right:-21px; /* value = - border-left-width - border-right-width */
	border-width:9px 0 9px 21px;
	border-color:transparent #fff;
}
